<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nuclear CyberSecurity</title>
<link rel="stylesheet" href="C:\Users\denis\OneDrive\Documents\GitHub\Erasmus-Nuclear-Cyber-Security\public\css\style.css">
</head>

<body class="body-cyber">
  <!-- Navbar -->
  <nav class="navbar navbar-cyber navbar-expand-lg py-3">
    <div class="container">
      <a class="navbar-brand text-warning" href="#">Nuclear Cybersecurity</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-2"><a class="btn btn-cyber" href="#Introduction">Introduction</a></li>
          <li class="nav-item mx-2"><a class="btn btn-cyber" href="#Operation">Operation</a></li>
          <li class="nav-item mx-2"><a class="btn btn-cyber" href="#Breaches">Breaches</a></li>
          <li class="nav-item mx-2"><a class="btn btn-cyber" href="#Resources">Sources</a></li>
          <li class="nav-item mx-2"><a class="btn btn-cyber" href="#Quiz">Quiz</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Body -->
  <div class="container">

    <!-- COOL Animated line -->
    <div class="mt-5 line-container text-center">
      <hr class="horizontal-line line-cyber">
      <div class="vertical-line line-cyber"></div>
    </div>

    <!-- Main Section -->
    <div id="Introduction" class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Title -->
          <h1> Nuclear Cybersecurity</h1>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
        </div>
        <div class="col-md-6">
          <!-- Image -->
          <img src="placeholder" alt="">
        </div>
      </div>
    </div>

    <hr class="border border-warning border-2 opacity-50 my-5">

    <!-- Operation Section -->
    <div id="Operation" class="container">
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
    </div>

    <hr class="border border-warning border-2 opacity-50 my-5">

    <!-- Breaches Section -->
    <div id="Breaches" class="container">
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
    </div>
    <!-- Sources Section -->
    <div id="Sources" class="container">
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
          <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>

    </div>

    <hr class="border border-warning border-2 opacity-50 my-5">

    <!-- Quiz Section -->
    <div id="Quiz" class="container">
      <div id="timer" class="">
        <div id="timeLeft"></div>
        <div id="timerBar" class="my-4">
          <div id="timerFill" class="width-50"></div>
        </div>
      </div>
      <div id="quiz" class="mb-4">
        <h5>Welcome to the Nuclear CyberSecurity Quiz!</h5>
        <p>Test your knowledge about nuclear cybersecurity by answering the following questions. Click "Next" to begin.</p>
      </div>
        <div id="btnStart" class="btn btn-cyber">Next</div>
    </div>
          
    <hr class="border border-warning border-2 opacity-50 my-5">

    <!-- Footer -->
    <footer>
    <p>Nuclear cybersecurity refers to the measures and protocols implemented to protect nuclear facilities, systems, and data from cyber threats and attacks. As nuclear facilities increasingly rely on digital technologies for their operations, the risk of cyberattacks targeting these critical infrastructures has grown significantly. Ensuring robust cybersecurity in the nuclear sector is essential to safeguard against potential disruptions, unauthorized access, and malicious activities that could compromise the safety and security of nuclear materials and operations.</p>
    </footer>
    
  </div>
  <script src="C:\Users\denis\OneDrive\Documents\GitHub\Erasmus-Nuclear-Cyber-Security\quiz.js"></script>
</body>
</html>
